<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Application</title>
</head>
<body>
<div class="container mt-5">
    <div class="container" style="background: darksalmon">
        <div class="row">
            <div class="col-10" style="background: #7ddbff; height: 50px">
                <h3 class="m-b-0">{{email}}</h3>
            </div>
            <div class="col-2" style="height: 50px">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <button type="submit" class="btn btn-primary">Sing out</button>
                </form>
            </div>
            <div class="col-3" style="background: #e47297; height: 500px">
                <div class="container mt-1">
                <form action="/users">
                    <div class="container">
                        <div class="row">
                            <div class="col-9">
                                <label>
                                    <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                </label>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                <div class="container mt-1">Friends:</div>
                {{#emailFriend}}
                    <div class="container mt-1">
                        <form action="users/{{senderId}}/{{id}}">
                            <button type="submit" class="btn btn-primary" style="background: #86c541">{{email}}</button>
                        </form>
                    </div>
                {{/emailFriend}}

            </div>
            <div class="col-9" style="background: aquamarine; height: 500px">
                <div class="container">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <form>
                                <div class="form-group mt-5">
                                    <label for="exampleFormControlInput1">Email address</label>
                                    <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                </div>
                                <div class="form-group mt-5">
                                    <label for="exampleFormControlInput2">Topic</label>
                                    <input type="text" name="topic" class="form-control" id="exampleFormControlInput2">
                                </div>
                                <div class="form-group mt-5">
                                    <label for="exampleFormControlTextarea1">Example textarea</label>
                                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-10"></div>
                                        <div class="col-2 mt-5">
                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>